@page "/"
@inherits NewsComponentBase

<style>
    .f {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .c {
        color: red
    }

    .f3 {
        font-size: 44px;
    }
</style>
<div class="row">
    <div class="col-xl-9 col-12 d-flex">
        <div class="card h-lg-100 w-100 overflow-hidden">
            <div class="card-body f">
                <div class="starting-content pe-5">
                    <h1 class="f3">Prabh <strong class="c">News {News count = @TotalCount}</strong> Website</h1>
                    <p> 💕💕 Utlimate Solution for realtime stock Prices</p>
                </div>
                <img class="card-bg-image" src="/images/getting-started/bg-01.png">
            </div>
        </div>
    </div>
    <div class="col-xl-3 d-flex">
        <div class="card h-100 overflow-hidden">
            <div class="card-body">
                <div class="abp-community abp-logo mb-2"></div>
                <p class="lead text-muted">
                    A unique community platform
                    for <span class="fw-bold">ABP Lovers!</span>
                </p>
                <p class="text-muted mb-2">
                    Explore all ABP users'
                    experiences with the ABP Framework, discover
                    articles and videos on how to use ABP, and join
                    raffles for a chance to win surprise gifts!
                </p>
                <a class="btn btn-brand soft mb-3" href="https://abp.io/community/" target="_blank">
                    Join ABP
                    Community
                </a>
            </div>
            <img class="mt-3 w-100" src="/images/getting-started/img-community.png">
        </div>
    </div>
</div>
<div class="row">
    <div class="col p-2">
        <CardDeck>
            <Card>
                <CardBody>
                    <CardTitle Size="5">Apple Inc. (AAPL)</CardTitle>
                    <CardText>
                        Trump says he doesn’t want Apple building products in India: ‘I had a little problem with Tim
                        Cook’
                    </CardText>
                    <Button Color="Color.Primary">View Details</Button>
                </CardBody>
            </Card>
            <Card>

                <CardBody>
                    <CardTitle Size="5">Tesla Inc. (TSLA)</CardTitle>
                    <CardText>
                        Tesla EV care batteries are now cheaper than gas-powered cars, says Elon Musk
                    </CardText>
                    <Button Color="Color.Primary">View Details</Button>
                </CardBody>
            </Card>
            <Card>

                <CardBody>
                    <CardTitle Size="5">Amazon.com Inc. (AMZN)</CardTitle>
                    <CardText>
                        Amazon latest news: Amazon to open first cashierless grocery store in the UK
                    </CardText>
                    <Button Color="Color.Primary">View Details</Button>
                </CardBody>
            </Card>
        </CardDeck>
    </div>
</div>
