################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRABH.PEOPLE/src/PRABH.PEOPLE.Blazor/Logs/logs.txt
/PRABH.PROJECTS/src/PRABH.PROJECTS.Blazor/Logs/logs.txt
/Prabh.Stock/src/Prabh.Stock.Blazor/Logs/logs.txt
/Prabh.Finance/src/Prabh.Finance.Blazor/Logs/logs.txt
*.txt
/Prabh.Finance/src/Prabh.Finance.Blazor/Logs/logs.txt
/.vs

/Prabh.Finance/src/Prabh.Finance.Blazor.Client/appsettings.secrets.json
/Prabh.Finance/src/Prabh.Finance.HttpApi.Host/appsettings.secrets.json
/Prabh.Stock/src/Prabh.Stock.HttpApi.Host/appsettings.secrets.json
/Prabh.News/src/Prabh.News.HttpApi.Host/appsettings.secrets.json
