@page "/"
@* @using Prabh.Stock.Books *@
@* Add the correct @using for Carousel components if needed, e.g.: *@
@* @using YourCarouselComponentNamespace *@

@inherits FinanceComponentBase

<style>
    .f {
    display: grid;
    justify-content: center;
    align-content: center;
    }

    .c {
    color: red
    }

    .f3 {
    font-size: 44px;
    }
    .cc{
        height:600px
    }

    
</style>
<div class="row">
    <div class="col d-flex cc">
        <div class="card h-lg-100 w-100 overflow-hidden">
            <div class="card-body f">
                <div class="starting-content pe-5" style="position:static !important">
                    <h1 class="f3">Prabh <strong class="c">Finance</strong> Website</h1>
                    <p> 💕💕 Utlimate Solution for Finance Management</p>

                    <div>
            @if (LatestStockNews.Count > 0)
        {
            <CardDeck>
                @foreach (var item in LatestStockNews)
                {
                    <Card Background="Background.Success" WhiteText>
                        <CardBody>
                            <CardTitle Size="5">
                                                <div class="d-flex justify-content-between">
                                                    <div>@item.CompanyName</div>
                                                    <div>$ @item.CurrentPrice</div>
                                </div>
                                                
                                            </CardTitle>
                                            
                            <CardText>
                                @item.Summary
                            </CardText>

                        </CardBody>
                    </Card>
                }
            </CardDeck>
        }
        else
        {
            <Callout Color="CalloutColor.Danger" HideHeading="true">
                <h4>Something is Wrong</h4>
                <p>No stock news could be loaded. Please check with your admin or try again later.</p>
            </Callout>
        }
                </div>
                <img class="card-bg-image" src="/images/getting-started/bg-01.png">
            </div>
        </div>
        
        </div>
    </div>
</div>

